[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot

[submodule "tpm"]
	path = user/config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm

[submodule "tmux-resurrect"]
	path = user/config/tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect

[submodule "tmux-sessionx"]
	path = user/config/tmux/plugins/tmux-sessionx
	url = https://github.com/omerxx/tmux-sessionx

[submodule "tmux"]
	path = user/config/tmux/plugins/tmux
	url = https://github.com/catppuccin/tmux

[submodule "flavors"]
	path = user/config/yazi/flavors
	url = https://github.com/yazi-rs/flavors
